body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: auto;
    margin-top: 40px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

h1, h2 {
    text-align: center;
    color: #003366;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background: #003366;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0055aa;
}

.result {
    text-align: center;
    font-size: 25px;
    color: green;
}